body {
  background: linear-gradient(120deg, white, limegreen);
  height: 150vh;
  font-family: arial;
  box-sizing: border-box;
}

#title {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}

.green-font {
  color: limegreen;
}

#main {
  margin: auto;
  background-color: white;
  border: solid 2px darkgray;
  border-radius: 1.5em;
  padding: 0 2em 1em 2em;
  box-shadow: 5px 5px darkgreen;
  width: 70%;
  max-width: 500px;
  justify-content: center;
}

#eating {
  width: 97%;
}

#meals {
  width: 97%;
}

#comments {
  width: 100%;
}

@media (max-width: 600px) {

#title {
  font-size: 25px;
}

#eating{
    display: flex;
    flex-direction: column;
}

#meals{
    display: flex;
    flex-direction: column;
}
}
